@import '../../node_modules/bootstrap/scss/functions.scss';
// default variable overrides
$primary: #fdc000;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px,
);

// required
@import '../../node_modules/bootstrap/scss/variables.scss';
@import '../../node_modules/bootstrap/scss/mixins.scss';

@import '../../node_modules/bootstrap/scss/bootstrap.scss';
